body {

    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 400px;
    background: url('supermario.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    z-index: -1;
}

.header {

    align-items: center;
    width: 100%;
    height: 120px;
    background-color: black;
    color: white;
    padding-left: 40px;
}

#bigTitle {

    font-family: 'Monoton', cursive;
    padding-top: 20px;
    margin-left: 40px;
    text-align: left;
    font-size: 50px;
}

#subTitle {

    font-family: 'Press Start 2P', cursive;
    margin-right: 40px;
    padding-right: 40px;
    text-align: center;
}

#container {

    margin-left: 40px;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
}

#winBox {

    color: white;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

#user-guess {

    width: 20%;
    height: 40px;
    background-color: white;
    padding: 10px;
    display: inline-block;
}

#guesses-left {

    color: hotpink;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 15px;
    padding-top: 30px;
}

#answer {
    
    font-size: 25px;
    text-align: center;
}

.wrapper {

    text-align: center;
    padding-top: 40px;
}

.button {

    top: 50%;
    background-color: #4CAF50;
    border: none;color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 2px;
    margin-left: 0;
    font-family: 'Press Start 2P', cursive;
}

#game-won {
    
    width: 100%;
    height: 400px;
    background-color: green;
    color: white;
    display: block;
}

#game-lost {

    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

#won-text {

    margin: 20px 20px;
    color: white;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

#lost-text {

    z-index: 1;
    font-family: 'Press Start 2P', cursive;
    margin: 80px;
    font-size: 50px;
}

#lost-background {

    height: 100%;
    width: 100%;
    z-index: 0;
}